# Next.js Environment Variables
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Clerk Authentication Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c21hcnQtbW9yYXktNzUuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_lvVuo7v1bD7BST3ygJZdJSWcaEWq7XnWJTk1s8KsjN

# Clerk Redirects
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# Supabase Database URL (Postgres)
NEXT_PUBLIC_SUPABASE_URL=https://togbrlqisvvjuuqofqqk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvZ2JybHFpc3Z2anV1cW9mcXFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNDczMTAsImV4cCI6MjA4ODgyMzMxMH0.KFN1XTaGiclq9G61iqxilbfui3nfQIpuuAKEizZoznM
DATABASE_URL=postgresql://postgres:Qmwnebrvtcyxuziop%40123@db.togbrlqisvvjuuqofqqk.supabase.co:5432/postgres

# Razorpay API Keys (For School Fees Payments)
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_SQODhS50ETGyxi
RAZORPAY_KEY_SECRET=o4VsqLMaG2le28ZrD6oiojuv
